.vscode
chroma_db
coco_converted
imgs
literature
MMAPs
REPORT
runs
venv_diploma
gant.ipynb
GANT.png
manhwa_onomatopoeia.json
Petrenko_bakalavr.pdf
result_fixed.json
sfx_data.yaml
yolo11n-seg.pt
yolo11n.pt
yolo26m-seg.pt
yolo26n-seg.pt
yolo26n.pt
Grinched.ttf
inpaint_mask1.png
inpaint_mask2.png
inpaint_mask3.png
inpaint_mask4.png
inpaint_mask5.png